* {
    margin: 0; padding: 0;
    list-style: none;
 }
a { text-decoration: none; color: black; }

nav> div {
    display: none;
    width: 50%;
    border: 1px solid white;

}
nav> div:nth-child(1) {
    margin-right: 0%;
}

nav> .bar {
    width: 100%;
    display: block;
    border: 1px solid white;

}
nav> .logo {
    width: 100%;
    display: block;
    border: 0px solid white;
    margin-right: 0; margin-left: 0;
}
.at {
    height: 1300px;
    padding: 50px;
    
}
.at> .imgbox> li {
    width: 98%;
    
}
.at> .imgbox> li> div {
    height: 220px;
}
.at> .imgbox> li> p {

}
.at> .imgbox> li> .imgbox_text1 {
    font-size: 0.7rem;
    font-family: hy견고딕;

}

